@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-roboto: 'Roboto', sans-serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-ephesis: 'Ephesis', cursive;
}
